body{
    background: linear-gradient(#D92027, #35D0BA);
    height: 100vh;
}

h1{
    text-align: center;
    font-family: Juan;
    font-size: 3em;
}


p{
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}