body{
    height: 100vh;
    margin: 20px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: #f00;
    position: relative;
    transition: left 0.5s ease-in-out, background-color 1s ease;
    left: 0;
}

body:hover .box{
    left: 400px;
    background-color: #00f;
}