/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #333;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(200, 200, 200, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

.container input{
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    border: 1px solid #aaa;
    font-size: 1.5em;
}

